doctype html

html
	head
		title="Robot"
		script(src='/socket.io/socket.io.js')
		script(src='/jquery-2.0.3.min.js')
		script(src='/web.js')

		style.
			body {
				text-align: center;
				font-family: Monaco, Consolas, Inconsolata, 'Deja Vu Sans Mono', 'Droid Sans Mono', 'Andale Mono', 'Lucida Console', monospace;
				font-size: 16px;
			}

			.container {
				position: absolute;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
				margin: auto;

			}

			.warning {
				margin-top: 10px;
				color: rgb(153, 0, 85);
			}

			.help {
				color: rgb(102, 153, 0);
			}

			.buttons {
				margin-top: 25px;
			}

			.sounds {
				margin-top: 35px;
				margin-left: 25%;
				margin-right: 25%;
			}

			.sounds button {
				-webkit-appearance: none;
				border: 1px solid #000;
				background-color: #fff;
				font-size: 12px;
			}

			.buttonrow button {
				padding: 10px;
				padding-left: 20px;
				padding-right: 20px;
				-webkit-appearance: none;
				border: 1px solid #000;
				background-color: #fff;
				font-size: 18px;
			}

			.webcam {
				margin-top: 25px;
			}

			.buttonrow button#space {
				margin-top: 25px;
			}

			.audioplayer {
				display: none;
			}

			.soundoptions {
				margin-top: 15px;
			}

			.soundoptions input {
				margin-left: 10px;
				margin-right: 10px;
			}


	body
		.container
			h1 &gt;Robot&lt;
			.help Bruk {W,A,S,D} for å styre, mellomrom for brems.
			.warning La aldri spenning synke under 6.0V.

			.webcam
				img(src='http://192.168.73.60:8001/?action=stream')

			.buttons
				.buttonrow
					button#w ^
				.buttonrow
					button#a &lt;
					button#s v
					button#d &gt;
				.buttonrow
					button#space Brems!

			.sounds
				.soundbuttons
				.soundoptions
					input(type='checkbox', checked, id='localaudio')
					| Spill lyd lokalt
					input(type='checkbox', checked, id='robotaudio')
					| Spill lyd på robot
				.audioplayer
